@use "variables" as v;

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes diagonal {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.levelTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  .top {
    margin-bottom: 50px;
    .title {
      opacity: 0;
      animation: fade 2s ease-in-out forwards;
    }
    .first {
      animation-delay: 0;
    }
    .second {
      animation-delay: 2000ms;
    }
    .third {
      animation-delay: 4000ms;
    }
  }
  .bottom {
    .track {
      width: 300px;
      max-width: 100%;
      border: 1px solid grey;
      position: relative;
      .keyContainer {
        position: absolute;
        left: 10px;
        top: 0;
        height: 50px;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          &:hover {
            cursor: pointer;
            // transform: scale(1.1);
            // transition: transform 2000ms ease-in-out infinite;
            animation: pulse 2000ms ease-in-out infinite;
          }
        }
      }
      .draggerContainer {
        position: relative;
        width: fit-content;
        &:hover {
          cursor: pointer;
        }
        .dragger {
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          &::before {
            display: block;
            content: "";
            height: 100%;
            width: 100%;
            background: #a8a3a3f7;
            outline: 5px solid #a49b9b;
            outline-offset: -5px;
          }
        }
      }
    }
  }
}
