@use "variables" as v;

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.levelTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  .top {
    margin-bottom: 50px;
    .title {
      opacity: 0;
      animation: fade 2s ease-in forwards;
    }
    .first {
      animation-delay: 0;
    }
    .second {
      animation-delay: 2000ms;
    }
    .third {
      animation-delay: 4000ms;
    }
  }
  .bottom {
    .track {
      width: 300px;
      max-width: 100%;
      border: 1px solid grey;
      position: relative;
      .keyContainer {
        position: absolute;
        left: 10px;
        top: 0;
        height: 50px;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .draggerContainer {
        position: relative;
        .dragger {
          height: 50px;
          width: 50px;
          background: grey;
        }
      }
    }
  }
}
