@use "variables" as v;

nav {
  background-color: v.$dark-background-color;

  h2 {
    color: v.$light-text-color;
  }
  .top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .bottom {
    background: grey;
    h1 {
      padding: 10px;
      text-align: center;
      color: v.$light-text-color;
    }
  }
}
