@use "variables" as v;

.theButton {
  background-color: v.$button-color;
  color: v.$button-text-color;
  padding: 8px 50px;
  border-radius: 3px;
  font-size: v.$regular-font-size;
  transform-style: preserve-3d;
  transition: all 0.2s;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}

.theButton:hover,
.theButton:focus {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12);
  filter: brightness(1.02);
}
.theButton:active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  transform: translateY(0px);
}
