$light-background-color: white;
$dark-background-color: black;

$dark-text-color: black;
$light-text-color: white;

$button-color: lightgreen;
$button-text-color: black;

$regular-font-size: 18px;
$title-font-size: 40px;

@font-face {
  font-family: "Odinson";
  src: url("../fonts/Odinson-224w.ttf");
  font-weight: 400;
  font-style: normal;
}
